
h1 {
  color:skyblue;
  text-align: center;
}
h2 {
  color: lightblue;
  text-align: left;
}

div {


}
@media (min-width:1001px) {
  table {
    border: 2px solid lightgreen;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
  }
}
@media (max-width:1000px) {
  table {
    border: 2px solid lightgreen;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  th,td {
    font-size: 20px;
  }
}

th,td {
  border:1px solid black;
  padding: 5px;
}

th {
  background-color: lightgray
}
#summary {
  font-size: 16px;
  background-color: lightgray;
  height: 150px;
  margin:20px;
  padding: 100px;
  font-family: sans-serif;
  font-weight:bold;
  border: 3px solid lightgray;
}

.name {
  font-size: 20px;
}

form {
  border: 3px solid lightgray;
}

.div_form {

}

input[type=text], input[type=password] {
  font-style: oblique;
}
button:hover {
  background-color: skyblue
}
button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  background-color: lightgray
}

a[class=home_href]::before {
  content:"\21d2 ";
  font-weight: bold;
}
